---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=aaron@unbounce.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"id":"72","email":"aaron@unbounce.com","type":"PERSON","firstName":"Aaron","lastName":"Oman","userId":10708668,"userIdIncludingInactive":10708668,"createdAt":"2020-05-05T09:16:12.462Z","updatedAt":"2023-05-24T07:37:20.644Z","archived":false,"teams":[{"id":"1507808","name":"Tech","primary":true}]}]}'
  recorded_at: Wed, 20 Jan 2016 20:14:06 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=support@unbounce.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"id":"81","email":"support@unbounce.com","type":"PERSON","firstName":"Aaron","lastName":"Oman","userId":10708668,"userIdIncludingInactive":10708668,"createdAt":"2020-05-05T09:16:12.462Z","updatedAt":"2023-05-24T07:37:20.644Z","archived":false,"teams":[{"id":"1507808","name":"Tech","primary":true}]}]}'
  recorded_at: Wed, 20 Jan 2016 20:16:03 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=adwordsapp@websitepublicity.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"id":"75","email":"adwordsapp@websitepublicity.com","type":"PERSON","firstName":"AdWords","lastName":"App","userId":10708668,"userIdIncludingInactive":10708668,"createdAt":"2020-05-05T09:16:12.462Z","updatedAt":"2023-05-24T07:37:20.644Z","archived":false,"teams":[{"id":"1507808","name":"Tech","primary":true}]}]}'
  recorded_at: Wed, 20 Jan 2016 20:16:03 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=adrianmott@gmail.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"id":"63","email":"adrianmott@gmail.com","type":"PERSON","firstName":"Adrian","lastName":"Mott","userId":10708668,"userIdIncludingInactive":10708668,"createdAt":"2020-05-05T09:16:12.462Z","updatedAt":"2023-05-24T07:37:20.644Z","archived":false,"teams":[{"id":"1507808","name":"Tech","primary":true}]}]}'
  recorded_at: Wed, 20 Jan 2016 20:16:03 GMT
recorded_with: VCR 2.4.0
